<div class="nav nav-admin">
  <span class="nav-admin title">TestGuru Панель администратора</span>

  <div class="nav-admin user">
    Добро пожаловать, <%= current_user.first_name %>!
    <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
  </div>
</div>