<p>
  <%= question.body %> -
  <%= link_to t('.links.show'), admin_question_path(question) %> |
  <%= link_to t('.links.edit'), edit_admin_question_path(question) %> |
  <%= link_to t('.links.destroy'), admin_question_path(question), data: { method: :delete } %>
</p>