<h1>Test Guru Контакты</h1>

<h4>
  Вы получили сообщение от <b><%= @user.email %></b>
</h4>

<p>
  <b>Имя:</b> <%= @user.first_name %>
  <br/>
  <b>Фамилия:</b> <%= @user.last_name %>
</p>

<p>
  <b>Сообщение:</b> <%= sanitize(@message) %>
</p>