<hr/>
<p>
  <%= current_year %> <%= author %>,
  <%= github_url(author, repo) %>
</p>
<p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: '_blank' %>
</p>